.point {
  fill: #2f225d;
  stroke: #afa2dc;
}

#features{
	color:red;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.line {
    fill: none;
    stroke-width: 1;
}
rect.bordered {
    stroke: #E6E6E6;
    stroke-width:2px;   
    }

text.mono {
    font-size: 9pt;
    font-family: Consolas, courier;
    fill: #aaa;
    }     

text.axis-workweek {
    fill: #000;
    }

text.axis-worktime {
    fill: #000;
    }